.main-content {
    padding-top: 80px;
    background-color: var(--background);
    /* height: calc(100vh - var(--header-height)); */
    /* overflow: auto; */

    box-sizing: border-box;
}

.main-content {
    --landing-card-width: 690px;
    --landing-card-heigth: 560px;

    --lading-card-img-width: 400px;
    --lading-card-vertical-padding: 60px;
}

.landing-card {
    width: var(--landing-card-width);
    height: var(--landing-card-heigth);
    background-color: var(--bulba-green1);
    border-radius: 60px;
    padding-top: var(--lading-card-vertical-padding);
    padding-bottom: var(--lading-card-vertical-padding);
    padding-left: 40px;

    position: relative;
    box-sizing: border-box;
}

.subtitle {
    width: 260px;
    text-align: center;
}

.landing-card img {
    position: absolute;
    height: auto;
    width: var(--lading-card-img-width);
    image-rendering: pixelated;
    right: calc(var(--lading-card-img-width) / -2);
    top: calc((var(--landing-card-heigth) / 2) - (var(--lading-card-img-width) / 2));
    /* top: 560px; */
}

.message-price-width {
    width: 360px;
    text-align: center;
}

.price-card-s {
    user-select: none;
    width: 320px;
    height: 530px;
    background-color: var(--background-white);
}

.price-card-l {
    width: 350px;
    height: 580px;
    background: var(--card-gradient);
}

.price-card-img-bg {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.price-card-img-bg img {
    position: absolute;
    height: auto;
    width: 200px;
    image-rendering: pixelated;
}

.price-tag img {
    height: auto;
    width: 30px;
}

.price-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: var(--foreground-black);
}

.price-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-gray);
}

.price-card-button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.price-card-s:hover {
    background-color: var(--background-darker);
}

.price-card-l:hover {
    background-color: var(--bulba-green1-darker);
}