@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import './components/utilities.css';

* {
    --header-height: 40px;

    --foreground-black: #000000;

    --background: #FAFAFA;
    --background-darker: #f2fae9;
    --background-white: #fff;
    --background-gray: #CDCDCD;

    --bulba-blue2: #83EEC5;
    --bulba-green1: #BDFF73;
    --bulba-green2: #A4D541;

    --card-gradient: linear-gradient(180deg, #BDFF73 0%, #A9DE4C 78.26%, #A4D541 100%);

    --text-gray: #707070;
    --text-darker: #5A5A5A;
}

.App {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--background);
}

h3 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 16px;
}
h1 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    line-height: 36px;
}
h2 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    line-height: 24px;
}
h4 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

span {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--text-gray);
}

.bg-blue2 {
    background-color: var(--bulba-blue2);
}

.bg-white {
    background-color: var(--background-white);
}

.bg-gradient {
    background: var(--card-gradient);
}